<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container getintouch-cls-info">
        <div class="col-md-10 col-sm-5 col-xs-6"></div>
        <div class="col-md-2 col-sm-12 col-xs-12">
        <a href="<?php echo $SITEURL;?>"><button class="mrtppp right-btn1">
        Back
        </button></a>
      </div>
    
      <div class="col-md-3 col-sm-3 col-xs-12"></div>
      
        <div class="col-md-6 col-sm-6 col-xs-12 pdddg mrtpp1">
        <h3 class="heading btm-spce"> Sign In</h3>
        <?php echo $this->Form->create("/users/login", ['method' => 'post',"id" => "login_form",'autocomplete' => "off"]);
        
        ?>
         <div class="form-group">
            <?php echo $this->Flash->render();?>
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <?php echo $this->Form->input("username",['label' => false, 'class' => "form-control1 common","type" => 'email']); ?>
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
           <?php echo $this->Form->input("password",['class' => 'form-control1 common',"label" => false]);?>
          </div>
            <div class="form-group"> <a href="<?php echo $SITEURL;?>users/forgot_password">Forgot Password ?</a> </div>
            <button type="submit" class="btn btn-default btn_1">
            Sign In
            </button>
             <a href="<?php echo $SITEURL;?>users/register" class="btn-minus">
            <div type="submit" class="btn btn-default btn_2">
            Create login
            </div></a>
          </form>
      </div>
    
      
      <div class="col-md-3 col-sm-3 col-xs-12"></div>
        
      </div>