#ifta_table_filter input[type="search"] {
	border: 1px solid grey;
}

label.error{
	color : red;
} 

.captcha
{
	width: 55%;
	background-image: url(../img/bg.jpg);
	font-size: 30px !important;
	border: 1px solid;
	text-align: center;
	color: #5cc0fa !important;
}
.refresh_captcha
{
	cursor: pointer;
}   

.overlay {
  background: #000 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: .5;
  display:none;
}
.imageHol {
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 100px;
  margin-top: -100px;
}

a.download_pdf {
    color: #0078ae !important;
    font-size: 10px;
}