@charset "utf-8";
/* CSS Document */

.right-box{margin-top:30px;}

.pdg-nonne{padding:0 !important;}

.right-none-div{padding-right:0px;}

.view_cart{float:left; margin-top: 27px;}

.right-spce img{float: left; position: relative; margin-right: 1px;}

.back a{background:#0078ae; border-radius:3px; color:#fff; text-decoration:none; font-size:14px; padding:10px 20px;}

.back a:hover{text-decoration:none; color:#fff;}

/* will be red only in google chrome */

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .number{top: 2px !important; right: -11px !important;}
	
.text input[type="radio"]{right:3px !important; top:2px !important;}
	
}*/


.text input[type="radio"]{right:3px !important; top:2px !important;}

.cart{position: relative;}

/*.cart{background:url(../img/cart.png) left top no-repeat; padding-left:35px; margin-left:20px; padding-bottom:10px;}*/

.number{position:relative; z-index:1000; font-size:14px; color:#000; top:3px; right:22px; width:100%; text-align: center; /*margin-left:8px;*/ font-weight:bold;}

.img{/*margin-top:10px;*/ position:relative;}

.right-content{/*-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);*/ font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; padding-bottom:20px; margin-bottom:0px; padding-right:0px !important;}

.left-content{background:#fff; font-family: 'Open Sans', sans-serif;}

.left-content h1{font-size:15px; margin:0; padding:0; color:#fff; font-weight:bold; padding:10px 0 10px 13px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;}

.top-mr{margin-top:35px;}

.yellow{background:#ffe599; font-size:15px; color:#000; border:1px solid #000; padding:15px;}

.yellow a{color:#000; text-decoration:none;}

.yellow a:hover{color:#000; text-decoration:underline;}

.table-box h2{font-size:16px; color:#0078ae; font-weight:bold; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:0px; display: none;}

/*.table-box h2::after{width:48px; height:2px; background:#000; position:absolute; content:""; display:block; margin-top:5px;}*/

.font-size{font-size:10px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:0px;}

.font-size td, th{padding:4px !important; border:1px solid #c6c6c6 !important;}

.color{color:#6c6c6c !important; font-size:10px;}

.color2{padding:7px 5px !important;}

.gry{background:#f0f0f0 !important; border:1px solid #afafaf; color:#000 !important;}

.blk{background:#000 !important; color:#fff !important;}

.white{color:#fff !important; text-decoration:none !important;}

.border-div1{/*border:1px solid #e3e3e3; padding-left:15px; padding-top:4px;*/}

.border-div1 label{margin-bottom:10px !important; color:#000;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.leftpd h1{font-size:25px;}

.tooltip {
    position: relative;
    display: inline-block !important;
	cursor:pointer;
     /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

div.bhoechie-tab-container{
  z-index: 10;
  font-size:11px;
  color:#000;
  margin-top: 20px;
  /*margin-left: 50px;*/
  -webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);
  padding:20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  margin-bottom:50px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #000;
  background-image: #000;
  
 
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 68%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid #000;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 0px;
  padding-top:0px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


.padg-div{margin:30px 0; display:block;}




.bhoechie-tab-container h3 {
  color: #0078ae;
  float: left;
  font-size: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
}
.bhoechie-tab-content .more-products {
  background-color: #0078ae;
  float: right;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
}
.bhoechie-tab-content a {
  color: #fff;
  font-size: 14px;
 /* font-weight: 700;*/
  text-decoration:none !important;
  text-transform:capitalize;
}
.tbody {
  font-size: 12px;
  font-weight: 400;
}
.bhoechie-tab-content .tbody .top {
  line-height: 20px;
}
.bhoechie-tab-content .tbody td {
  line-height: 46px;
}
.tbody span {
  color: #fff;
  font-weight: 700;
}
.tbody .total {
  font-size: 16px;
  font-weight:bold;
}
.tbody .delet {
  height: 24px;
  width: 28px;
}
.getintouch-cls-info {
  /*border: 1px solid #afafaf;*/
 margin-bottom: 100px;
  
	-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);
}
.getintouch-cls-info .content {
  display: block;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
}
input {
  padding: 9px;
  border: 1px solid #e3e3e3;
    color: #000 !important;
    font-size: 12px !important;
}
.getintouch-cls-info .form-control1 {
  
  margin-right: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.getintouch-cls-info .form-control3 {
  cursor:pointer;
  margin-right: 30px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
.getintouch-cls-info .form-control4 {
  padding-bottom: 72px;
  width: 95%;
 
 font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
.getintouch-cls-info .company-name {
  display:grid;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
/*.form-control2 {
  width: 100%;
}*/
label {
  color: #0078ae;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 22px!important;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 0px!important;
  margin-top: 4px;
  position: relative;
  top: 0px;
}
.getintouch-cls-info .more-products {
  background-color: #0078ae;
  display:block;
  border-radius: 3px;
  border: none;
	
}

.getintouch-cls-info a:hover{color:#fff; text-decoration:none;}

/*.more-products:hover{background:#000;}*/



.submit-btn{background:#0078ae; padding:10px 15px; display:block; float:left;  color: #fff;}

.mtop-div{margin-top:0px;}



.getintouch-cls-info a {
  color: #fff;
  font-weight: normal;
  font-size:14px;
	
	font-family: 'Open Sans', sans-serif;
	/*text-transform:uppercase;*/
}
.getintouch-cls-info .code {
  padding: 0;
}


.left {
	position: relative;
	top: -40px;
    float: left;
}
#main {
	position: relative;
	top: 170px;
	float: left;
}
.calendar {
  background:url(../img/calendar-icon.png) no-repeat right 10px top 8px;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.ui-datepicker {
  width: 286px!important;
}

.leftpd{padding-left:0px !important; margin-left:0px;}

.comments-box{border:1px solid #e3e3e3 !important; font-family: 'Open Sans', sans-serif !important; font-size:12px !important; color:#000 !important; font-weight:bold !important; opacity:1;}





@media (max-width:1199px){
    .table-div {
  overflow: scroll;
}
    .bhoechie-tab-content .tbody td {
  line-height:26px;
}    
}

@media (max-width:991px){
        .table-div {
  overflow: scroll;
}

    body .floatingBtn {
  bottom: 12px;
}
    .floatTab p {
  margin-bottom: 0 !important;
}
}
@media (max-width:910px){
    
    body .floatingBtn {
  bottom: 8px;
}

}

@media (max-width:799px){
body .floatingBtn {
  bottom: 7px;
}

}

@media (max-width:767px){

.left-content {
  height: auto;
  padding-top: 20px;
  width: 100% !important;
}
    .list-group-item {
  float: left;
  width: 33%;
}
    .floatTab span {
  display: none;
}
    body .floatingBtn {
  bottom: 15px;
}


}


@media (max-width:660px){
    
.getintouch-cls-info .content {
  width: 100%;
}
    .getintouch-cls-info .form-control1 {
  width: 100%;
}
    .getintouch-cls-info .company-name {
  width: 100%;
  padding: 0 15px;
}
    .getintouch-cls-info .form-control3 {
  width: 100%;
}
    .calendar {
  background-position: 98% 8px;
  width: 100%;
  
}
    .getintouch-cls-info .form-control4 {
  width: 100%;
}
    .bhoechie-tab-container h3 {
  padding: 0;
}
    .bhoechie-tab-content .more-products {
  float: left;
  margin-top: 15px;
}
}


@media (max-width:596px){
.left-content {
  height: auto;
  width: 100% !important;
}
}

@media (max-width:357px){
.left-content {
  height: auto;
  width: 100% !important;
}



}

@media screen and (max-width: 1400px) {

  .texthedh1{margin-top: 20px !important;}

   .singin{font-size: 14px;}

  .number{right: 22px;}
  
  right-spce img{margin-right:0px;}


  }

    @media screen and (max-width: 1399px) {

      .texthedh1{margin-top: 20px !important;}

 
   .right-none-div{padding: 0 !important; display: inline-block !important;}

   .singin{font-size: 12px !important;}

   .number{right: 33px;}

   .singup{font-size: 12px !important;}


  }



    @media screen and (max-width: 1390px) {

      .texthedh1{margin-top: 20px !important;}

 
   .right-none-div{padding: 0 !important; display: inline-block !important;}

   .singin{font-size: 12px !important;}

   .singup{font-size: 12px !important;}


  }

    @media screen and (max-width: 1350px) {

      .texthedh1{margin-top: 20px !important;}

 
   .right-none-div{padding: 0 !important; display: inline-block !important;}

   .singin{font-size: 12px !important;}

   .singup{font-size: 12px !important;}


  }

  @media screen and (max-width: 1320px) {

    .texthedh1{margin-top: 20px !important;}

 
   .right-none-div{padding: 0 !important; display: inline-block !important;}

   .singin{font-size: 12px !important;}

   .singup{font-size: 12px !important;}


  }


@media screen and (max-width: 1270px) {

  .texthedh1{margin-top:20px !important;}

 
   .right-none-div{padding: 0 !important; display: inline-block !important;}

   .singin{font-size: 12px !important;}

   .singup{font-size: 12px !important;}


  }




@media (max-width:1250px){


.texthedh1{margin-top:20px !important;}

   .number{right: 45px;}
	
	.right-spce img{margin-right:0px;}
	
	.right-none-div{padding:0 !important;}
	
	.right-box{width:33% !important;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}

.texthedh1{margin-top: 10px !important;}

 body footer{position: relative !important;}



}


@media screen and (max-width: 1199px) {

   .number{right: 42px;}
	
	.right-spce img{margin-right:0px;}
	
	.right-none-div{padding:0 !important;}
	
	.right-box{width:33% !important;}

    .border-color-new{text-align: left; min-height: 140px;}

      .gapboxxnew{margin-bottom: 30px;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: left; width: 100%; border-bottom: none !important;}

body #pageContent #pageWrap {padding: 20px;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}
	
.font-size td, th{padding:3px !important;}	


.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

 body footer{position: relative !important;}


	
}

@media screen and (max-width: 1177px) {

    .number{right: 33px;}

	
	.right-spce img{margin-right:0px;}
	
	.right-none-div{padding:0 !important;}
	
	.right-box{width:33% !important;}

    .border-color-new{text-align: left; min-height: 140px;}

      .gapboxxnew{margin-bottom: 30px;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: left; width: 100%; border-bottom: none !important;}

body #pageContent #pageWrap {padding: 20px;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}

.font-size td, th{padding:3px !important;}	



.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}



.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}

 body footer{position: relative !important;}

	
}


@media screen and (max-width: 1177px) {

    .number{right: 40px;}

     body footer{position: relative !important;}



    }


           @media screen and (max-width: 1100px) {

    .number{right: 37px;}

     body footer{position: relative !important;}



    }

           @media screen and (max-width: 1090px) {

    .number{right: 37px;}

     body footer{position: relative !important;}



    }


        @media screen and (max-width: 1070px) {

    .number{right: 35px;}

     body footer{position: relative !important;}



    }


    @media screen and (max-width: 1050px) {

    .number{right: 33px;}

     body footer{position: relative !important;}



    }




@media screen and (max-width: 1024px) {

  .pdzromobile .newleftpading {padding-left: 24px !important;}

  .pdzromobile .newrightpdgggg{padding-right: 40px !important;}

  .singin{font-size: 14px;}

  .number{right: 33px;}
	
	.right-spce img{margin-right:0px;}
	
	.right-none-div{padding:0 !important;}
	
	.right-box{width:33% !important;}


  .border-color-new{text-align: left; min-height: 140px;}

      .gapboxxnew{margin-bottom: 30px;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: left; width: 100%; border-bottom: none !important;}

body #pageContent #pageWrap {padding: 20px;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}
	
.font-size td, th{padding:3px !important;}

.leftpd {
    padding-left: 0px !important;
    margin-left: 0px;
    display: inline-block;
    width: 100%;
}

.padg-div{float:left;}

.none{display:block !important;}

.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}


.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}

 body footer{position: relative !important;}


	
}

@media screen and (max-width: 1001px) {

  .pdzromobile .newrightpdgggg{padding-right: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}

  .singin{font-size: 14px !important;}

  .number{right: 33px;}

  body footer{position: relative !important;}

  }


@media screen and (max-width: 991px) {

  .pdzromobile .newrightpdgggg{padding-right: 0px !important;}

  body footer{position: relative !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}

    .right-none-div{display: inline-block !important;}

  .right-spce img{display: inline-block !important; float: none !important;}

  .pdg-nonne{text-align: center; margin-top: 20px;}

  .number{right: -20px; top: 2px;}
	
	 .right-box{width:100% !important;}
	
  a.singup{text-align:center;}
  
  a.singin{text-align:center;}
	
	.right-none-div{padding:0;}

    body #headerWrap #headerContainer #logo{margin-top:-130px;}


#headerWrap .texthedh1{position: relative !important; top: 125px !important;}

.right-box{margin-top: 150px;}

  .border-color-new{text-align: left; min-height: 180px;}

      .gapboxxnew{margin-bottom: 30px;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: left; width: 100%; border-bottom: none !important;}


body #pageContent #pageWrap {padding: 20px;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}
	
.table-responsive{overflow:scroll; width:100%; padding:0;}
	
.right-box{ float:left; width:100%; display:block;}	

.bhoechie-tab-container h3{font-size:22px;}

body .floatingBtn .floatTab p a{
	padding: 7px 12px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
}

.none{display:block !important;}

.bhoechie-tab-content .more-products{margin-bottom:0px;}

.getintouch-cls-info .pdddg{padding:0px  10px !important; margin:20px 0;}

.bor-right{border:none !important;}

.postonn{float:none !important;}

.down{top:0px !important;}

.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}


}


@media screen and (max-width: 770px) {

  h3.heading {font-size: 24px !important;}


  .pdzromobile .newrightpdgggg{padding-right: 0px !important;}

     .pdzromobile .newleftpading{padding-left: 0px !important;}

.leftholemargin{margin-left: 0px !important;}

    .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}


  .right-none-div{display: inline-block !important;}

  .right-spce img{display: inline-block !important; float: none !important;}

  .pdg-nonne{text-align: center; margin-top: 20px;}

  .number{right: -20px; top: 2px;}

  /*.cart .number{right: 6px !important;}*/
  
  .right-box{width:100% !important;}
	
  a.singup{text-align:center;}
  
  a.singin{text-align:center;}


  body #headerWrap #headerContainer #logo{margin-top:-130px;}


#headerWrap .texthedh1{position: relative !important; top: 125px !important;}

.right-box{margin-top: 150px;}


      .border-color-new{text-align: left; min-height: 180px;}

      .gapboxxnew{margin-bottom: 30px;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: left; width: 100%; border-bottom: none !important;}



body #pageContent #pageWrap {padding: 20px;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}

.table-responsive{overflow:scroll; width:100%; padding:0;}
	
.right-box{ float:left; width:100%; display:block;}	

.font-size{margin:25px;}

.font-size td, th{padding:6px !important;}

.bhoechie-tab-content .more-products{margin-bottom:0px;}

body .floatingBtn .floatTab p a{
	padding: 7px 12px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.white{padding:0px !important;}

.cd-pagination a, .cd-pagination span{display:inline-block;}

.blk{display:inline-block !importantpadding:10px 7px !important;}




.getintouch-cls-info .pdddg{padding:0px  10px !important; margin:20px 0;}

.bor-right{border:none !important;}

.postonn{float:none !important;}

.down{top:0px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}



.right-box.cart .number{margin-top:40px;}


.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}






}



@media only screen and (max-width: 767px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

    .pdzromobile .newleftpading{padding-left: 0px !important;}

.leftholemargin{margin-left: 0px !important;}

    .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}


	
	.right-box{width:100% !important;}

    .right-none-div{display: inline-block;}
	
  a.singup{text-align:center;}
  
  a.singin{text-align:center;}

    .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}


  body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 135px !important;}

.right-box{margin-top: 150px;}



      .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;}


.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}

  .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}
	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px;}

.font-size td, th{padding:6px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.bhoechie-tab-content .more-products{float:left; margin-bottom:10px; margin-top:10px;}

.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block; margin-top:20px;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important; text-align: left;}

.postonn{margin-top:20px;}
	
}


@media only screen and (max-width: 641px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

.pdzromobile .newleftpading{padding-left: 0px !important;}

.leftholemargin{margin-left: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}


.right-box{width:100% !important;}

  .right-none-div{display: inline-block;}

  a.singup{text-align:center;}
  
  a.singin{text-align:center;}

    .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}

  body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 135px !important;}

.right-box{margin-top: 150px;}

      .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;}



.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}


  .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}


	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px; }

.font-size td, th{padding:6px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}


.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important; text-align: left;}

.postonn{margin-top:20px;}
	
}

@media only screen and (max-width: 530px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

.pdzromobile .newleftpading{padding-left: 0px !important;}

.leftholemargin{margin-left: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}



	
	.right-box{width:100% !important;}

    .right-none-div{display: inline-block;}
	
  a.singup{text-align:center;}
  
  a.singin{text-align:center;}

    .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}

  body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 135px !important;}

.right-box{margin-top: 150px;}


      .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;}


.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}


  .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}



.table-box h2{margin-top:20px;}	
	
.font-size{margin:10px;}

.font-size td, th{padding:4px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}



.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important; text-align: left;}

.postonn{margin-top:20px;}
	
}


@media only screen and (max-width: 517px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

.pdzromobile .newleftpading{padding-left: 0px !important;}

  .leftholemargin{margin-left: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}



	
	.right-box{width:100% !important;}
	
  .right-none-div{display: inline-block;}

 a.singup{text-align:center;}
 
 a.singin{text-align:center;}
 

    .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}

body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 135px !important;}

.right-box{margin-top: 150px;}


    .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;}



.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}


.dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}


	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px;}

.font-size td, th{}	

body .floatingBtn .floatTab p a{    
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}



.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important; text-align: left;}
.postonn{margin-top:20px;}
	
}



@media only screen and (max-width: 439px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

.pdzromobile .newleftpading{padding-left: 0px !important;}

.leftholemargin{margin-left: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}



	
	.right-box{width:100% !important;}

  .right-none-div{display: inline-block;}
	
  a.singup{text-align:center;}
  
  a.singin{text-align:center;}

    .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}

    body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 135px !important;}

.right-box{margin-top: 150px;}


    .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

 .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;}

.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}


.dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}
	
.table-box h2{margin-top:20px;}
	
.right-box{float:left;}	
	
div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

.font-size{margin:25px;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item{width:100% !important;}

body .floatingBtn .floatTab p a{    
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:20px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}



.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important; width: auto; text-align: center;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}


.postonn{margin-top:20px;}


.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important; font-size: 16px; text-align: left;}
	
}


@media only screen and (max-width: 320px) {

.pdzromobile .newrightpdgggg{padding-right: 0px !important;}

.pdzromobile .newleftpading{padding-left: 0px !important;}

  .leftholemargin{margin-left: 0px !important;}

  .new-zero{padding-right: 0px !important;}

  .pdzromobile .new-zero{padding-right: 0px !important;}

  .pdzromobile .rightmobilepd{padding-right: 0px !important;}

  .pdzromobile{padding:0px !important;}



	
	.right-box{width:100% !important;}

  .right-none-div{display: inline-block;}
	
	 a.singup{text-align:center;}
	 
	 a.singin{text-align:center;}

  /*.cart .number{right: 6px !important;}*/

  .shippingh1 h1{margin-left:15px !important;}

  .size-font-request{font-size:16px !important; margin-bottom: 20px;}

  h3.heading {font-size: 21px !important;}

  body #headerWrap #headerContainer #logo{margin-top:-100px;}


#headerWrap .texthedh1{position: relative !important; top: 120px !important;}

.right-box{margin-top: 150px;}


  .border-color-new{text-align: center;}

  .border-color-new img{margin: 0 auto;}

  .gapbox{margin: 0px !important;}

  .big-text-new{font-size: 25px !important; text-align: center; width: 100%; border-bottom: none !important;} 

.container.extra-width{width: 100% !important; max-width: 100% !important;}

body #pageContent #pageWrap {padding: 20px;}

.dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #000;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin: 0 2px;
}

.color2 {
    padding: 0px !important;
}


.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.5em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #000;
    border-radius: 3px;
    background: #f0f0f0;
    border: 1px solid #afafaf;
    margin: 0 5px;
    font-weight: normal;
}

.table-div a.paginate_button.next {
    color: #fff !important;
    padding: 4px 7px !important;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}

	
.table-box h2{margin-top:20px;}
	
.right-box{float:left;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}
	
.font-size{margin:25px;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item{width:100% !important;}

body .floatingBtn .floatTab p a{    
padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

/*.leftpd{padding-left:15px !important;}*/

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:20px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}


.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}



.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-top:30px !important; width: auto; text-align: center;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.getintouch-cls-info .left-mr{margin-left:0px !important; font-size: 16px; text-align: left;}

.center-btn{text-align:center !important;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.btm-spce{margin-bottom:0px !important;}

.postonn{margin-top:20px;}


}

.none{display:none;}



/*new*/

.padg-div h1{font-size:20px;}

.mrtppp{margin-top:30px; padding:9px 60px !important; background-color: #0078ae; display: block; border-radius: 3px; border: none; float:right;}

.mrtppp a{font-size:14px; text-decoration:none;}

.mrtppp a:hover{text-decoration:none;}

/*.mrtppp:hover{background:#000;}*/

.right-mmmr{margin-right:0px !important;}

.getintouch-cls-info .form-control6 {
  margin-right: 30px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.left-box{margin-left:22px;}

.singin{background:#0078ae; border-radius:3px; font-size:15px; color:#fff; padding:7px 15px; display:inline-block; /*margin-right:10px; position:relative; top:5px;*/}

a.singin{text-decoration:none; color:#fff;}

a.singin:hover{text-decoration:none; color:#fff;}

.singup{background:#0078ae; border-radius:3px; font-size:15px; color:#fff; padding:7px 15px; display:inline-block; /*margin-right:10px; position:relative; top:5px;*/}

a.singup{text-decoration:none; color:#fff;}

a.singup:hover{text-decoration:none; color:#fff;}

.right-spce{/*margin-right:15px;*/ position:relative; top:5px;}

.poston{position:relative; left:-100px;}

.down{top:-24px;}

.float-icon{float:right;}

.bluecolor{background:#0078ae !important; color:#fff !important; border:none !important; padding:7px 12px !important;}

.singin-box input{width:100%; padding: 9px; border: 1px solid #e3e3e3; font-size: 12px !important; font-family: 'Open Sans', sans-serif; color: #000 !important; font-weight: bold;}

.btm-spce{margin-bottom:30px !important; display:block !important; width:100%;}

.pdddg{padding:40px 100px !important; margin:50px 0;}

.pdddg label{color:#000; margin-bottom:10px !important; cursor:pointer;}

.pdddg a{color:#000;}

.pdddg a:hover{color:#000;}

.btn_1{background:#0078ae !important; border:none !important; border-radius:3px !important; color:#fff !important; font-size:13px;}

.dropdown-menu > li > a{font-size:11px;}

.btn_1 a{color:#fff; text-decoration:none;}

/*.btn_1:hover{background:#000 !important;}*/

/*.btn_2:hover{background:#0078ae !important;}*/

.btn_1 a:hover{color:#fff;}

.btn_2 a{color:#fff;}

.btn_2{background:#0078ae !important; border:none !important; border-radius:3px !important; color:#fff !important;}

.btn_2 a:hover{color:#fff; background:#0078ae !important;}

.bor-right{border-left:1px solid #CCC;}

.open > .dropdown-menu{width:100% !important;}

.nopdggg{padding:0px !important; margin:20px 0 !important;}

.left-mr{margin-left:15px !important;}

.top-btn{top:7px; position:relative;}

.postonn{/*float:right; margin-top:60px;*/ position:static !important;}

.blk-bg{background:#000; color:#fff;  text-align:center; padding:9px 6px 9px 6px; margin-right:0px; float: left;}

.bluee-btn{background:#0078ae; border:0; padding:0; color:#fff; font-size:9px; padding:0px 5px 0px 0; display: inline-block; width: 85px; line-height: 28px;}

.bluee-btn a{font-size:11px; font-weight:normal; text-decoration:none; color:#fff !important;}

.bluee-btn1{background:#0078ae; border:0; padding:0; color:#fff; font-size:9px; padding:0px 5px 1px 0; display: inline-block; width: 88px; line-height: 28px;}

.bluee-btn1 a{font-size:11px; font-weight:normal; text-decoration:none; color:#fff !important;}

/*.bluee-btn:hover{background:#000;}*/

.null-top{margin-top:0px;}

.detail_form label{
  color: #000;
  margin-bottom:10px !important;
  margin-right:5px;
}



.extra-width{max-width: 1650px !important; width: 1250px !important;}

.green-icon {
    color: #fff !important;
  background: #f44242 !important;
}
.item_in_cart {
    cursor: default !important;
}

.big-text-new{font-size: 30px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
color: #087ea6; font-weight: bold; border-bottom: 4px solid #087ea6; display: inline-block; float: left; line-height: 40px;}

.border-color-new{border:1px solid #636363; border-radius:5px; padding: 15px 15px; display: inline-block;
width: 100%;}

.tittle-fonnnt h1{font-size: 18px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
color: #087ea6; font-weight: 700; text-transform:uppercase; color: #000; margin-top: 0px; margin-bottom: 0px;}

.tittle-fonnnt h2{font-size: 13px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
color: #087ea6; font-weight: 700; color: #087ea6; margin-top: 10px; margin-bottom: 0px; line-height: 17px;min-height: 40px;}

.boxpdgnone{padding: 0 !important;}

.gapboxxnew{margin-top: 15px;}

.gapbox{margin-top: 30px; margin-bottom: 30px;}

.texthedh1{position: absolute !important; top: 30px !important; margin: 0 auto; text-align: center; z-index: 0 !important; width: 100% !important;}

.texthedh1 img{margin: 0 auto; z-index: 0 !important; position: relative !important;}

.texthedh1 h1{text-align: center; color: #fff; font-size: 20px; text-transform: uppercase; margin:0;}

body #headerWrap #headerContainer #logo img {
    width: 100%;
    padding-top: 6px;
    max-width: 430px;
    display: block;
    margin: 0 auto;
    position: relative !important;
    z-index: 10000 !important;
}

h3.heading{font-size:25px; margin-top: 15px; float: left; font-family: 'Open Sans', sans-serif;}

.heading img{display: inline-block; width:12%; position: relative; top: -2px; left: -5px;}

.add-more-new-btn{font-size: 12px; margin-top: 24px; background: none !important;
  color: #0078ae; font-weight: bold; padding: 0 !important;}

  .size-font-request{font-size: 17px;}

  .btn-minus{top:1px; position: relative;}

  .shippingh1 h1{margin: 0; font-size: 20px; margin-bottom: 15px;}

  .topgap-btn{margin-top: 19px;}

  .left-radiogap{margin-left:10px !important;}

  .mrgn-btmmm-gap{margin-bottom: 0px;}

  .rightnewpd{padding-right: 8px !important;}

  .newclss{margin-left: -4px;  padding-right: 20px !important;}

  .right-zeropd{padding-right: 0px !important;}

  .topladblegap{margin-top: 8px;}

  .hegiht{margin-bottom: 200px;}

  .newleftpading{padding-left: 29px !important;}

  .leftholemargin{margin-left: 30px;}

  .optional_info, .ship_form{border:1px solid #d4d4d4 !important;}

  .newrightpdgggg{padding-right: 56px !important;}
  /*16july*/
  .hdiv
  {
    width: 100%;
   float: left;
background: #0078ae;
  }
  .list-group-item
  {
    border-bottom:none !important;
  }
  .loading-main {
    position: absolute;
    left: 330px;
    top: 70px;
}
#divUpdate {
    position: relative;
}











.left-content .list-group .form-group {  display: block; }

.left-content .list-group .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.left-content .list-group .form-group label {
  position: relative;
  cursor: pointer;
}

.left-content .list-group .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.left-content .list-group .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid gray;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#filterUpdate span:first-child
{
  margin-left:-50px !important;
}

