<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container getintouch-cls-info">
        <div class="row">
        <div class="col-md-10 col-sm-5 col-xs-6 width">
            <h3 class="heading btm-spce left-mr"> Forgot password</h3>
          </div>
        <div class="col-md-2 col-sm-7 col-xs-6">
            <a href="<?php echo $previous_page;?>"><button class="mrtppp null-top right-btn1">
            Back
            </button></a>
          </div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pdddg nopdggg">
       <?php echo $this->Form->create('/', ['method' => 'post',"id" => "forgot_password"]);
       echo $this->Flash->render();
       ?>
             <div class="form-group col-md-12">
            <label for="exampleInputEmail1">Email Address</label>
            <?php echo $this->Form->input("username",['label' => false, 'class' => "form-control1 common","type" => 'email']); ?>
          </div>
          
            <div class="col-md-12">
            <button class="btn btn-default btn_1" type="submit">Send reset password link</button>
          </div>
          </form>
      </div>
      </div>