@charset "utf-8";
/* CSS Document */

.right-box{float:right; margin-top:30px;}

.back a{background:#0078ae; border-radius:3px; color:#fff; text-decoration:none; font-size:14px; text-transform:uppercase; font-weight:bold; padding:10px 20px;}

.back a:hover{text-decoration:underline; color:#fff;}

.cart{background:url(../images/cart.png) left top no-repeat; padding-left:35px; margin-left:20px; padding-bottom:10px;}

.number{position:absolute; z-index:1000; font-size:14px; color:#000; margin-top:9px; margin-left:12px; font-weight:bold;}

.img{margin-top:10px; position:relative; top:6px;}

.right-content{/*-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);*/ font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; padding-bottom:20px; margin-bottom:0px; padding-right:0px !important;}

.left-content{background:#f5f5f5; font-family: 'Open Sans', sans-serif; height:450px;}

.left-content h1{font-size:15px; background:#0078ae; margin:0; padding:0; color:#fff; font-weight:bold; padding:10px 0 10px 13px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;}

.top-mr{margin-top:35px;}

.yellow{background:#ffe599; font-size:15px; color:#000; border:1px solid #000; padding:15px;}

.yellow a{color:#000; text-decoration:none;}

.yellow a:hover{color:#000; text-decoration:underline;}

.table-box h2{font-size:16px; color:#0078ae; font-weight:bold; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:0px;}

/*.table-box h2::after{width:48px; height:2px; background:#000; position:absolute; content:""; display:block; margin-top:5px;}*/

.font-size{font-size:10px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:25px;}

.font-size td, th{padding:4px !important; border:1px solid #c6c6c6 !important;}

.color{color:#6c6c6c !important; font-size:10px;}

.color2{padding:7px 5px !important;}

.gry{background:#f0f0f0 !important; border:1px solid #afafaf; color:#000 !important;}

.blk{background:#000 !important; padding:13px 7px !important; color:#fff !important;}

.white{color:#fff !important;}

.border-div1{/*border:1px solid #e3e3e3; padding-left:15px; padding-top:4px;*/}

.border-div1 label{margin-bottom:10px !important; color:#000;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.leftpd h1{font-size:25px;}

.tooltip {
    position: relative;
    display: inline-block !important;
	cursor:pointer;
     /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

div.bhoechie-tab-container{
  z-index: 10;
  font-size:11px;
  color:#000;
  margin-top: 20px;
  /*margin-left: 50px;*/
  -webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);
  padding:20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  margin-bottom:50px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #000;
  background-image: #000;
  
 
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 68%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid #000;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 0px;
  padding-top:0px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


.padg-div{margin:30px 0; display:block;}




.bhoechie-tab-container h3 {
  color: #0078ae;
  float: left;
  font-size: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
}
.bhoechie-tab-content .more-products {
  background-color: #0078ae;
  float: right;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
}
.bhoechie-tab-content a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.tbody {
  font-size: 12px;
  font-weight: 400;
}
.bhoechie-tab-content .tbody .top {
  line-height: 20px;
}
.bhoechie-tab-content .tbody td {
  line-height: 46px;
}
.tbody span {
  color: #fff;
  font-weight: 700;
}
.tbody .total {
  font-size: 16px;
  font-weight:bold;
}
.tbody .delet {
  height: 24px;
  width: 28px;
}
.getintouch-cls-info {
  /*border: 1px solid #afafaf;*/
 margin-bottom: 100px;
  
	-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.175);   box-shadow: 0 1px 12px rgba(0,0,0,.175);   -moz-box-shadow: 0 1px 12px rgba(0,0,0,.175);
}
.getintouch-cls-info .content {
  display: block;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
}
input {
  padding: 9px;
  border: 1px solid #e3e3e3;
    color: #000 !important;
    font-size: 12px !important;
}
.getintouch-cls-info .form-control1 {
  
  margin-right: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.getintouch-cls-info .form-control3 {
  cursor:pointer;
  margin-right: 30px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
.getintouch-cls-info .form-control4 {
  padding-bottom: 72px;
  width: 95%;
 
 font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
.getintouch-cls-info .company-name {
  display:grid;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}
/*.form-control2 {
  width: 100%;
}*/
label {
  color: #0078ae;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 22px!important;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 7px!important;
  margin-top: 4px;
  position: relative;
  top: 4px;
}
.getintouch-cls-info .more-products {
  background-color: #0078ae;
  display:block;
  border-radius: 3px;
  border: none;
	
}

.getintouch-cls-info a:hover{color:#fff; text-decoration:underline;}



.submit-btn{background:#0078ae; padding:10px 15px; display:block; float:left;}

.mtop-div{margin-top:0px;}



.getintouch-cls-info a {
  color: #fff;
  font-weight: normal;
  font-size:13px;
	
	font-family: 'Open Sans', sans-serif;
	/*text-transform:uppercase;*/
}
.getintouch-cls-info .code {
  padding: 0;
}


.left {
	position: relative;
	top: -40px;
    float: left;
}
#main {
	position: relative;
	top: 170px;
	float: left;
}
.calendar {
  background:url(../images/calendar-icon.png) no-repeat right 10px top 8px;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.ui-datepicker {
  width: 286px!important;
}

.leftpd{padding-left:0px !important; margin-left:0px;}

.comments-box{border:1px solid #e3e3e3 !important; font-family: 'Open Sans', sans-serif !important; font-size:12px !important; color:#000 !important; font-weight:bold !important; opacity:1;}




@media (max-width:1199px){
    .table-div {
  overflow: scroll;
}
    .bhoechie-tab-content .tbody td {
  line-height:26px;
}    
}

@media (max-width:991px){
        .table-div {
  overflow: scroll;
}

    body .floatingBtn {
  bottom: 12px;
}
    .floatTab p {
  margin-bottom: 0 !important;
}
}
@media (max-width:910px){
    
    body .floatingBtn {
  bottom: 8px;
}

}

@media (max-width:799px){
body .floatingBtn {
  bottom: 7px;
}

}

@media (max-width:767px){

.left-content {
  height: auto;
  padding-top: 20px;
  width: 100% !important;
}
    .list-group-item {
  float: left;
  width: 33%;
}
    .floatTab span {
  display: none;
}
    body .floatingBtn {
  bottom: 15px;
}


}


@media (max-width:660px){
    
.getintouch-cls-info .content {
  width: 100%;
}
    .getintouch-cls-info .form-control1 {
  width: 100%;
}
    .getintouch-cls-info .company-name {
  width: 100%;
  padding: 0 15px;
}
    .getintouch-cls-info .form-control3 {
  width: 100%;
}
    .calendar {
  background-position: 98% 8px;
  width: 100%;
  
}
    .getintouch-cls-info .form-control4 {
  width: 100%;
}
    .bhoechie-tab-container h3 {
  padding: 0;
}
    .bhoechie-tab-content .more-products {
  float: left;
  margin-top: 15px;
}
}


@media (max-width:596px){
.left-content {
  height: auto;
  width: 100% !important;
}
}

@media (max-width:536px){


    
}


@media (max-width:439px){



}


@media (max-width:409px){

    
}


@media (max-width:381px){

}


@media (max-width:357px){
.left-content {
  height: auto;
  width: 100% !important;
}



}


@media screen and (max-width: 1199px) {
	
.font-size td, th{padding:3px !important;}	


.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}



	
}

@media screen and (max-width: 1177px) {

.font-size td, th{padding:3px !important;}	



.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}



.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}
	
}

@media screen and (max-width: 1024px) {
	
.font-size td, th{padding:3px !important;}

.leftpd {
    padding-left: 0px !important;
    margin-left: 0px;
    display: inline-block;
    width: 100%;
}

.padg-div{float:left;}

.none{display:block !important;}




.getintouch-cls-info .pdddg{padding:0px  50px !important; margin:20px 0;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}


.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}

	
}


@media screen and (max-width: 991px) {
	
.table-responsive{overflow:scroll; width:100%; padding:0;}
	
.right-box{ float:left; width:100%; display:block; text-align:center;}	

.bhoechie-tab-container h3{font-size:22px;}

body .floatingBtn .floatTab p a{
	padding: 7px 12px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
}

.none{display:block !important;}

.bhoechie-tab-content .more-products{margin-bottom:0px;}





.getintouch-cls-info .pdddg{padding:0px  10px !important; margin:20px 0;}

.bor-right{border:none !important;}

.postonn{float:none !important;}

.down{top:0px !important;}



.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}


}


@media screen and (max-width: 770px) {

.table-responsive{overflow:scroll; width:100%; padding:0;}
	
.right-box{ float:left; width:100%; display:block; text-align:center;}	

.font-size{margin:25px;}

.font-size td, th{padding:6px !important;}

.bhoechie-tab-content .more-products{margin-bottom:0px;}

body .floatingBtn .floatTab p a{
	padding: 7px 12px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.white{padding:0px !important;}

.cd-pagination a, .cd-pagination span{display:inline-block;}

.blk{display:inline-block !importantpadding:10px 7px !important;}




.getintouch-cls-info .pdddg{padding:0px  10px !important; margin:20px 0;}

.bor-right{border:none !important;}

.postonn{float:none !important;}

.down{top:0px !important;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.cart .number{margin-top:9px;}

.right-box.cart .number{margin-top:40px;}


.btm-spce{margin-bottom:0px !important; margin-top:10px !important;}


}



@media only screen and (max-width: 767px) {
	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px;}

.font-size td, th{padding:6px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.bhoechie-tab-content .more-products{float:left; margin-bottom:10px; margin-top:10px;}



.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block; margin-top:20px;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}
	
}


@media only screen and (max-width: 641px) {
	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px; }

.font-size td, th{padding:6px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}





.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}
	
}

@media only screen and (max-width: 530px) {

.table-box h2{margin-top:20px;}	
	
.font-size{margin:10px;}

.font-size td, th{padding:4px !important;}	

body .floatingBtn .floatTab p a{
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius:3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}





.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}
	
}


@media only screen and (max-width: 517px) {
	
.table-box h2{margin-top:20px;}
	
.font-size{margin:25px;}

.font-size td, th{}	

body .floatingBtn .floatTab p a{    
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:30px;}

.none{display:block !important;}

.list-group-item{width:100% !important;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}





.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}
	
}



@media only screen and (max-width: 439px) {
	
.table-box h2{margin-top:20px;}
	
.right-box{float:left;}	
	
div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}

.font-size{margin:25px;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item{width:100% !important;}



body .floatingBtn .floatTab p a{    
	padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:20px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}





.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}
	
}


@media only screen and (max-width: 320px) {
	
.table-box h2{margin-top:20px;}
	
.right-box{float:left;}

div.bhoechie-tab-container{margin-top:0px; padding:0px 15px !important;}
	
.font-size{margin:25px;}

div.bhoechie-tab-menu div.list-group>a.active:after{display:none;}

.list-group-item{width:100% !important;}

body .floatingBtn .floatTab p a{    
padding: 3px 0px 3px 8px;
    width: auto;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
    display: inline-block;
}

.leftpd{padding-left:15px !important;}

.getintouch-cls-info .code{margin-top: 15px; float: left;}

.submit-btn{margin-top:15px;}

.leftpd h1{padding-left:15px; font-size:20px;}

.none{display:block !important;}

.list-group-item:first-child{border-top-left-radius:0px !important;}

.list-group-item:last-child{border-bottom-left-radius:0px !important;}

.txt-none{display:none !important;}

.cd-pagination a, .cd-pagination span{padding:7px 7px !important; display:inline-block;}






.getintouch-cls-info .pdddg{padding:0px !important; margin:20px 0;}

.bor-right{border:none !important;}

.down{top:0px !important; width:100%;}

.down .btn{width:100%; display:block;}

.left-box{margin-left:0px !important;}

.padg-div h1{margin-left:15px;}

a.singin{width:100%; display:block;}

a.singup{width:100%; display:block; margin-top:15px;}

.mrtppp{margin-bottom:30px;}

.bluee-btn{padding:0px 0 5px 0 !important; text-align:center;}

.bluee-btn a{font-size:10px !important;}

.blk-bg{margin-right:0px; width:100%; margin-bottom:5px;}

.getintouch-cls-info .left-mr{margin-left:0px !important;}

.center-btn{text-align:center !important;}

.width{width:100%; text-align:center; margin-top:30px; display:block;}

.right-btn1{float:none !important; text-align:center !important; width:100%;}

.btm-spce{margin-bottom:0px !important;}
	
}

.none{display:none;}



/*new*/

.padg-div h1{font-size:20px;}

.mrtppp{margin-top:30px; padding:12px 50px !important; background-color: #0078ae; display: block; border-radius: 3px; border: none; float:right;}

.mrtppp a{font-size:17px; text-decoration:none;}

.mrtppp a:hover{text-decoration:none;}

.mrtppp:hover{background:#000;}

.right-mmmr{margin-right:0px !important;}

.getintouch-cls-info .form-control6 {
  margin-right: 30px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#000 !important;
  font-weight:bold;
}

.left-box{margin-left:40px;}

.singin{background:#0078ae; border-radius:3px; font-size:15px; color:#fff; padding:8px 15px; margin-right:10px; position:relative; top:5px;}

a.singin{text-decoration:none; color:#fff;}

a.singin:hover{text-decoration:none; color:#0078ae; background:#fff;}

.singup{background:#000; border:1px solid #fff; border-radius:3px; font-size:15px; color:#fff; padding:7px 15px; margin-right:10px; position:relative; top:5px;}

a.singup{text-decoration:none; color:#fff;}

a.singup:hover{text-decoration:none; color:#fff; background:#0078ae;}

.right-spce{margin-right:15px;}

.poston{position:relative; left:-100px;}

.down{top:-24px;}

.float-icon{float:right;}

.bluecolor{background:#0078ae !important; color:#fff !important;}

.singin-box input{width:100%; padding: 9px; border: 1px solid #e3e3e3; font-size: 12px !important; font-family: 'Open Sans', sans-serif; color: #000 !important; font-weight: bold;}

.btm-spce{margin-bottom:30px !important; display:block !important; width:100%;}

.pdddg{padding:40px 100px !important; margin:50px 0;}

.pdddg label{color:#000; margin-bottom:10px !important; cursor:pointer;}

.pdddg a{color:#000;}

.pdddg a:hover{color:#000;}

.btn_1{background:#0078ae !important; border:none !important; border-radius:3px !important;}

.btn_1 a{color:#fff;}

.btn_1:hover{color:#fff; background:#000 !important;}

.btn_2 a{color:#fff;}

.btn_2{background:#000 !important; border:none !important; border-radius:3px !important;}

.btn_2:hover{color:#fff; background:#0078ae !important;}

.bor-right{border-left:1px solid #CCC;}

.open > .dropdown-menu{width:100% !important;}

.nopdggg{padding:0px !important; margin:20px 0 !important;}

.left-mr{margin-left:15px !important;}

.top-btn{top:7px; position:relative;}

.postonn{float:right; margin-top:20px;}

.blk-bg{background:#000; color:#fff;  text-align:center; padding:9px 6px 9px 6px; margin-right:3px;}

.bluee-btn{background:#0078ae; border:0; padding:0; color:#fff; font-size:11px; padding:0px 5px 1px 0;}

.bluee-btn a{font-size:11px; font-weight:normal;}

.bluee-btn:hover{background:#000;}

.null-top{margin-top:0px;}