<div class="alert alert-danger error_message alert-dismissible" ><?= h($message) ?></div>

<!-- <?php
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<div class="message error" onclick="this.classList.add('hidden');"><?= $message ?></div> -->
