<div class="message success alert alert-success success_message alert-dismissible"><?= h($message) ?></div>
<!-- <?php
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<div class="message success" onclick="this.classList.add('hidden')"><?= $message ?></div> -->
