  <div class="container detail_form hegiht">
  <?php echo $this->Form->create("/", ['method' => 'post',"id" => "odrer_product"]);?>
        <div class="row">
            <div class="col-md-11 padg-div mrgn-btmmm-gap">

              <div class="col-md-12 col-sm-4 col-xs-12 form-group leftpd">
                 <div class="input text col-md-4 leftpd"><label for="deliver_order" class="smlf">Do you need the order to be delivered?</label>
        <div class="col-md-6 leftpd">
         <input name="deliver_order" class="deliver_order" type="radio" value="yes">Yes <input name="deliver_order" class="left-radiogap deliver_order" type="radio" value="no" checked="checked">No</div>
               </div>
              </div>



          <div class="row shipping_address"">
            
          </div>


          <div class="">
            <div class="col-md-12 pdzromobile leftpd">
        <label class="col-md-2 col-sm-4 topladblegap pdzromobile leftpd">Payment Method</label>
                 <div class="">

               <?php $payment_method = ['terms' => 'Terms','credit_card' => 'Credit card', 'check' => 'Check', 'cash' => 'Cash'];?>
              <div class="col-md-5 col-sm-11 col-xs-12 form-group leftpd newclss new-zero">
                 <?php echo $this->Form->input("payment_method",['class' => 'form-control optional_info', 'id' => 'payment_method','options' => $payment_method,'label' =>false]);?>
               </div>
              </div>


            </div>
          </div>



 <div class="col-md-12 leftpd pdzromobile">
          <div class="col-md-12 col-sm-12 col-xs-12 form-group leftpd pdzromobile">
                

                  <label for="po" class="col-md-2 col-sm-2 pdzromobile topladblegap leftpd">PO (Optional)</label>
<div class="col-md-5 col-sm-11 leftpd pdzromobile">
                  <input name="po" class="form-control6 common optional_info" id="po" type="text"></div>
              </div>
            

</div>



<div class="col-md-12 leftpd pdzromobile">

 <div class="col-md-12 col-sm-12 col-xs-12 form-group leftpd pdzromobile">


  <label class="col-md-2 col-sm-4 pdzromobile topladblegap leftpd">Need By Date (Optional)</label>


                 <div class="col-md-5 col-sm-11 leftpd pdzromobile">
                  <?php echo $this->Form->input("need_by_date",['class' => 'form-control3 calendar common optional_info','id' => 'datepicker','label' =>false]);?>
               </div>
              </div>
</div>



             <div class="col-md-12 leftpd pdzromobile">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group leftpd pdzromobile">
 <label class="col-md-2 col-sm-4 pdzromobile leftpd">Comment (Optional)</label>


                 <div class="col-md-9 col-sm-11 leftpd right-zeropd newrightpdgggg">
                 <?php echo $this->Form->input("comment",['class' => 'form-control comments-box common optional_info', 'id' => 'comment', 'rows' => '8' , 'type' => 'textarea','label' =>false]);?>
               </div>
              </div>
            </div>
                
               
<div class="col-md-12 leftpd pdzromobile">
               <div class="col-md-5 col-sm-5 pull-right">
                <button class="submit-btn btn_1 topgap-btn size-font-request rb" type="submit">Submit Request For Order</button>
              </div>
            </div>

             
             
          </div>
          </div>


          
           
           </form>
      </div>

      <script type="text/javascript">
        $(document).on("click",".deliver_order",function(){
          var val = $(this).val();
         if(val=="yes"){
          $.ajax({
                type: "POST",
                url: site_url+"pages/show_shipping_address",            
                success: function (data) {
                 $(".shipping_address").html(data);
                    
                }
            });
         }else{          
          $(".show_shipping_address").remove();
         }
        });


      </script>