<?php if(count($groups) > 0){
$act_arr=array_filter(explode(',',$get_active_group_id));
           if(count($products) > 0) { 
  ?>
     <div class="list-group gl">
        <?php $active = ""; $i=1; foreach ($groups as $key => $group) {      	
         ?>
<?php
 $gradecount=$this->Custom->getgradecount($group['id']); 
 if($gradecount>0) { ?>
        <div style="float:left;width:100%;border-bottom:1px dashed #0078ae;padding: 9px 0;">


  
    
  

          <div class="form-group" style="margin: 0px;float:left;">
      <input type="checkbox" id="html<?php echo $i;?>" name="check[]" <?php if(!empty($act_arr) && in_array($group['id'], $act_arr)){ echo 'checked="checked"'; } ?> class="checkgroup" autocomplete="off">
      <label for="html<?php echo $i;?>" style="margin: 0 !important;"></label>
    </div>

          <a href="javascript:void(0)" class="list-group-item item-<?php echo $i;?> get_product_bygroup" id="<?php echo $group['id'];?>" style="float:left;padding: 1px 0 0 0;"><?php echo $group['name'];?> (<?php echo $gradecount; ?>)</a></div>
       <?php } $i++;  } ?>
    </div>

  <?php } }
    ?>
<script type="text/javascript">
  var id= 0;
   
</script>


