
    <?php 
    	$act_arr=explode(',',$get_active_thick_id);
      $tkk=array();
    ?>
	
    <?php if(count($thickness) > 0) { ?>
        <?php $active = ""; $i=1; foreach ($thickness as $key => $thick) {  
   	      if($sel)
          {
            $group_id=0;
          }
         ?>

		<?php $thickcount=$this->Custom->getthickcount($group_id,$thick['thickness']); 
			if($thickcount>0) {
        //echo $thick['thickness'];
		?>
     <div style="float:left;width:100%;border-bottom:1px dashed #0078ae;padding: 9px 0;">
       <div class="form-group" style="margin: 0px;float:left;">
      <input type="checkbox" id="html1<?php echo $i;?>t" name="check[]" <?php if (!empty($act_arr) && (in_array($thick['thickness'], $act_arr)!==false )) { echo 'checked="checked"';  } ?> class="checkthick" autocomplete="off" />
      <label for="html1<?php echo $i;?>t" style="margin: 0 !important;"></label>
    </div>
        <a href="javascript:void(0)" class="list-group-item item-<?php echo $i;?> get_thick_bythick" id="<?php echo $thick['thickness'];?>" style="float:left;padding: 1px 0 0 0;"><?php echo $thick['thickness'];?> (<?php echo $thickcount; ?>)</a></div>
        <?php $tkk[]=$thick['thickness']; ?>
        <?php } ?>
       <?php $i++;  } ?>

  <?php } 
    ?>