<div class="col-md-11 shippingh1 show_shipping_address leftholemargin">
             
               
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pdzromobile leftpd">
                  <label class="col-md-1 col-sm-2 topladblegap pdzromobile leftmbliegap leftpd">Ship To</label>

                  <div class="col-md-10 col-sm-11 leftpd new-zero">
                 <?php echo $this->Form->input("address_one",['class' => 'form-control6 common ship_form', 'id' => 'address_one','label' =>false]);?>
               </div>
              </div>

               <div class="col-md-12 col-sm-12 col-xs-12 form-group pdzromobile leftpd">
                <label class="col-md-1 col-sm-2"></label>
                <div class="col-md-10 leftpd col-sm-11 new-zero">
                 <?php echo $this->Form->input("address_two",['class' => 'form-control6 common ship_form', 'id' => 'address_two','label' =>false]);?>
               </div>
              </div>

<div class="col-md-12 col-sm-12 col-xs-12 pdzromobile leftpd">

               <div class="col-md-4 col-sm-12 col-xs-12 form-group pdzromobile leftpd">
                 <label class="col-md-2 leftpd pdzromobile topladblegap">City</label>
                 <div class="col-md-9 col-sm-11 pdzromobile padmoble newleftpading">
                 <?php echo $this->Form->input("city",['class' => 'form-control6 common ship_form', 'id' => 'city','label' =>false]);?>
               </div>
              </div>

               <div class="col-md-4 col-sm-12 col-xs-12 form-group pdzromobile">
                <label class="col-md-2 leftpd pdzromobile topladblegap">State</label>
                 <div class="col-md-9 col-sm-11 pdzromobile padmoble">
                 <?php echo $this->Form->input("state",['class' => 'form-control ship_form', 'id' => 'state','options' => $state_list,'label' =>false,'default' => 'TX']);?>
               </div>
              </div>


                <div class="col-md-4 col-sm-12 col-xs-12 form-group pdzromobile">
                  <label class="col-md-2 leftpd pdzromobile topladblegap">Zip</label>
                 <div class="col-md-7 col-sm-11 rightnewpd pdzromobile rightmobilepd">
                  <?php echo $this->Form->input("zip",['class' => 'form-control3 common ship_form','id' => 'zip','label' =>false]);?>
               </div>
              </div>
             
               </div>

             
          </div>