</div>
  </div>
   <div>
    <footer id="foot" class="subPages">
    <div class="footerContain">
        <div class="brochure">
        <p><!-- <a href="http://www.nssco.com/assets/pdf/NSSCO_BROCHURE.pdf" target="_blank">Download Our Brochure</a> --></p>
      </div>
        <div class="f1"><?php echo $this->Html->image("footer-logo.png");?></div>
        <div class="f2">
        <h4>Houston Sales:</h4>
        <p>713-980-5800</p>
      </div>
        <div class="f3">
        <h4>Beaumont  Sales:</h4>
        <p>409-832-5604</p>
      </div>
        <div class="f4">
        <h4>Corporate Office:</h4>
        <p>713-453-3533</p>
      </div>
      </div>
  </footer>
  </div>
  </div>

 

 </div>






 
   



<div class="floatingBtn">
    <div class="floatTab">
    <p><a href="mailto:sales@nssco.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<span>Email Us</span></a></p>
  </div>
  </div>
  <script>
    // $('#nav-sub').slicknav({
    //   prependTo: '#mobileMenu',
    //   allowParentLinks: true,
    // });
    $(document).ready(function() {
      function setHeight() {
        windowHeight = $(window).innerHeight();
        $('.overlay').css('min-height', windowHeight - 200);
      };
      setHeight();

      $(window).resize(function() {setHeight();});
    });

    jQuery(document).ready(function($) {
      jQuery("*").find("a[href='" + window.location.href + "']").each(function() {
        jQuery(this).addClass("active");
        //add additional code here if needed
      })
    });
  </script> 
 <!--  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?3fW0h3ioUPEJ0gjLS0mSABSKI1TYzcda";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
      </script> --> 
      <script>

        // $(document).ready(function() {
        //   $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        //     e.preventDefault();
        //     $(this).siblings('a.active').removeClass("active");
        //     $(this).addClass("active");
        //     var index = $(this).index();
        //     $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        //     $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        //   });
        // });


      </script>
    </body>
    </html>
