<?php if(count($groups) > 0){?>
     <div class="list-group">

        <?php $active = ""; $i=1; foreach ($groups as $key => $group) {       	
        	
         ?>
        <a href="javascript:void(0)" class="list-group-item item-<?php echo $i;?> get_product_bygroup" id="<?php echo md5($group['id']);?>"><span class="glyphicon glyphicon-chevron-right color" aria-hidden="true"></span><?php echo $group['name'];?></a> 
       <?php $i++; } ?>
    </div>

  <?php  }
    ?>
