 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container getintouch-cls-info">
        <div class="col-md-10 col-sm-5 col-xs-12"></div>
        <div class="col-md-2 col-sm-12 col-xs-12">
        <a href="<?php echo $SITEURL;?>"><button class="mrtppp right-btn1">
        Back
        </button></a>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pdddg mrtpp1">
        <h3 class="heading btm-spce"> Sign In</h3>
        <?php echo $this->Form->create("/", ['method' => 'post',"id" => "login_form"]);
        // echo $this->Flash->render();
        ?>
        <div class="form-group">
          <label style="font-weight: normal;">
            <?php echo $this->Flash->render();?>
<!-- <div class="message error" onclick="this.classList.add('hidden');">Either your email and/or password is  incorrect.</div> -->
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <?php echo $this->Form->input("username",['label' => false, 'class' => "form-control1 common","type" => 'email']); ?>
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <?php echo $this->Form->input("password",['class' => 'form-control1 common',"label" => false]);?>
          </div>
            <div class="form-group"> <a href="<?php echo $SITEURL;?>users/forgot_password">Forgot Password ?</a> </div>
            <button type="submit" class="btn btn-default btn_1">
           Sign In
            </button>
            <a href="<?php echo $SITEURL;?>users/register">
            <div type="submit" class="btn btn-default btn_2">
            Create Login
            </div></a>
          </form>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pdddg bor-right">
        <h3 class="heading btm-spce"> Continue as a guest</h3>
         <?php echo $this->Form->create("/", ['method' => 'post',"id" => "guest_login"]);
         echo $this->Flash->render();?>
            <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <?php echo $this->Form->input("name",['label' => false, 'class' => "form-control1 common"]); ?>
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Company Name</label>
            <?php echo $this->Form->input("company",['class' => 'form-control1 common',"label" => false]);?>
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
             <?php echo $this->Form->input("username",['class' => 'form-control1 common',"label" => false]);?>
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
             <?php echo $this->Form->input("phone",['class' => 'form-control1 common',"label" => false]);?>
          </div>
            <div class="form-group">
            <label class="checkbox-main margin-top-md"> <span class="checkmark"></span>
                <input type="checkbox" value="1" checked="checked" id="chkproperty" name="existing_user">
                I am a current customer</label>
          </div>
            <button type="submit" class="btn btn-default btn_1">Continue</button>
          </form>
      </div>
      </div>