<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container getintouch-cls-info">
        <div class="row">
        <div class="col-md-10 col-sm-5 col-xs-6 width">
            <h3 class="heading btm-spce left-mr"> Reset password</h3>
          </div>
        <div class="col-md-2 col-sm-7 col-xs-6">
            <a href="<?php echo $SITEURL;?>/users/login"><button class="mrtppp null-top right-btn1">
            Back
            </button></a>
          </div>
      </div>
      <!-- <div class="col-md-3 col-sm-3 col-xs-12"></div> -->
        <div class="col-md-6 col-sm-6 col-xs-12 pdddg nopdggg">
       <?php echo $this->Form->create("/", ['method' => 'post',"id" => "reset_password"]);
       echo $this->Flash->render();
       ?>
             <div class="form-group col-md-12">
            <label for="exampleInputEmail1">New Password</label>
             <?php echo $this->Form->input("password", array("class" => "form-control1","type" => "password",'id' => 'password', "label" => false)); ?>
          </div>
           
            <div class="form-group col-md-12">
            <label for="exampleInputPassword1">Confirm Password</label>
              <?php echo $this->Form->input("password_confirm", array("class" => "form-control1", "label" => false,"type" => "password")); ?>
          </div>
             
          
            <div class="col-md-12">
            <button type="submit" class="btn btn-default btn_1">
            Reset Password
            </button>
          </div>
          </form>
      </div>
      </div>